/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-white: #E8D5B5;
    --clr-accent-teal: #2E8980;
    --clr-dark: #55286F;
    --gap: 2rem;
}

/* ---------- UTILITY CLASSES ----------*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
img {
    display: block;
    max-width: 100%;
}
html {
    width: 100vw;
    height: 100%;
}
body {
    width: 100vw;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    color: var(--clr-dark);
    background: repeating-linear-gradient(
        45deg,
        #232323,
        #232323 30px,
        #2F2F2F 30px,
        #2F2F2F 32px
    );
}
ol, ul {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* ---------- TYPOGRAPHY ----------*/
h1,
h2,
h3,
label,
button,
p {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}
h1 {
    font-size: clamp(1.75rem, 1.3529rem + 1.7647vw, 4rem);
    font-weight: 900;
    color: #55286F;
}
h2 {
    font-size: clamp(1.5rem, 1.1912rem + 1.3725vw, 3.25rem);
    color: #7B373EBF;
}
h3 {
    font-size: clamp(1.25rem, 0.9412rem + 1.3725vw, 3rem);
    margin: 0;
}
h2,
h3,
label,
button {
    font-weight: 600;
}
p,
::placeholder,
input,
textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(1rem, 0.8676rem + 0.5882vw, 1.75rem);
}
::placeholder {
    font-weight: 400;
    color: var(--clr-white);
}
input,
textarea {
    padding: .25rem .5rem;
    color: var(--clr-white);
    background-color: #55286F99;
    border: none;
    border-radius: .25rem;
    box-shadow: 2px 2px 5px #55286F;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    background-color: #55286FCC;
}

.blog-post p {
    text-align: left;
}

/* ---------- LAYOUT ----------*/
.container {
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(75deg, #55286F99, #9D357399, #D5536999, #F8845B99, #FFBD5799, #F8845B99, #D5536999, #9D357399, #55286F99);
    backdrop-filter: blur(5px);
}
form {
    flex-direction: column;
    gap: var(--gap);
    padding-top: 20vh;
}
textarea {
    margin-top: 0;
}
.new-post-title label,
.new-post-title input{
    display: block;
}
#postTitle,
#postBody {
    width: 600px;
}
#blogList * {
    margin-top: var(--gap);
    margin: 2rem auto;
}

/* ---------- COMPONENTS ----------*/
button {
    padding: .75rem 1.5rem;
    background-image: linear-gradient(75deg, #9D3573CC, #D55369CC, #F8845BCC);
    border: none;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px #C790C099;
}
button[type="submit"]:hover,
button[type="submit"]:focus {
    background-image: linear-gradient(75deg, #F8845BCC, #D55369CC, #9D3573CC);
    font-weight: bolder;
    color: var(--clr-white);
    box-shadow: 2px 2px 5px #7B373E99;
}
.blog-post {
    padding: 1rem;
    background-color: #E8D5B5CC;
    border-radius: .75rem;
    box-shadow: 2px 2px 5px #C9B69699;
}
hr {
    border: 1px solid #F8845B;
}

/* ---------- MEDIA QUERIES ----------*/